.cart_inner .table thead tr th {
    border-top: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #0e0e0e;
    border-bottom: 0px !important;
    text-align: center;
}

p{
    text-align: center;
    color: #0e0e0e;
    font-size: 15px;
}

.cart_inner .table tbody tr td {
    padding-top: 10px;
    padding-bottom: 3px;
    vertical-align: middle;
    align-self: center;
}

h3{
  
        text-align: center;
        font: oblique bold 120% cursive;
        color: #ffffff;
        font-size: 30px;
    
}

@media screen and (max-width: 991px){
    .cart_inner .table thead tr th {
        border-top: 0px;
        font-size: 12px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        color: #0e0e0e;
        border-bottom: 0px !important;
    }

    p{
        
        font-size: 12px;
    }
    
    h3{
            font-size: 20px;
    }

}