<section class="checkout_area section_padding">
    <div class="container">


        <div class="billing_details">
            <div class="heigh">
                <div class="row">
                    <!-- REGISTER PERSON -->
                    <div class="order_box col-lg-8">
                        <h3>Registrate para comprar</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">

                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" [(ngModel)]="userM.Nombres" id="nombres"
                                    name="Nombres" />
                                <span class="placeholder" data-placeholder="Nombres"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" [(ngModel)]="userM.Apellidos" id="aellidos"
                                    name="Apellidos" />
                                <span class="placeholder" data-placeholder="Apellidos"></span>
                            </div>
                            <!--                         <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="company" name="company"
                                placeholder="Company name" />
                        </div> -->
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" [(ngModel)]="userM.telefono" id="movil"
                                    name="telefono" />
                                <span class="placeholder" data-placeholder="Telefono de Celcular"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" [(ngModel)]="userM.DNI" id="dni" name="dni" />
                                <span class="placeholder" data-placeholder="D.N.I"></span>
                            </div>

                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" [(ngModel)]="userM.email" id="email"
                                    name="email" />
                                <span class="placeholder" data-placeholder="Correo electronico"></span>
                            </div>

                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" [(ngModel)]="userM.pass" id="pass"
                                    name="pass" />
                                <span class="placeholder" data-placeholder="Contraseña"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="r_pass" name="r_pass" />
                                <span class="placeholder" data-placeholder="Repetir Contraseña"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector" />
                                    <label for="f-option2" style="font-size: 10px;">Al hacer clic en Registrarte,
                                        aceptas
                                        los Términos y Condiciones
                                        de Uso de Marvetos.<br />Para obtener más información acerca de cómo Spotify
                                        recopila,
                                        utiliza, comparte y
                                        protege tus datos personales, consulta la Política de Privacidad de
                                        Marvetos.</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="d-md-flex justify-content-center">
                                    <button type="submit" style="align-items: center;" value="submit" class="btn_3"
                                        (click)="saveNewUserPersona()">
                                        REGISTRATE
                                    </button>


                                </div>

                            </div>
                            <div class="col-md-12">

                                <div class="d-md-flex justify-content-center creat_account">
                                    <input type="checkbox" id="f-option2" name="selector" />
                                    <label for="f-option2">Recuerdame</label>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- REGISTER COMPANY -->
                    <div class="col-lg-4" style="padding: 30px;padding-top:10px;">
                        <h3>¿Eres empresa, No te preocupues REGISTRATE AQUI?</h3>
                        <div class="billing_details">
                            <div class="heigh">
                                <div class="row">
                                    <div>
                                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">


                                            <div class="col-md-12 form-group p_star">
                                                <input type="text" class="form-control" id="nameCompany"
                                                    [(ngModel)]="userM.NombreEmpresa" name="nameCompany" />
                                                <span class="placeholder" data-placeholder="Nombre Empresa"></span>
                                            </div>


                                            <div class="col-md-6 form-group p_star">
                                                <input type="text" class="form-control" [(ngModel)]="userM.RUC" id="ruc"
                                                    name="RUC" />
                                                <span class="placeholder" data-placeholder="RUC"></span>
                                            </div>
                                            <div class="col-md-6 form-group p_star">
                                                <input type="text" class="form-control" [(ngModel)]="userM.telefono"
                                                    id="telefono" name="telefono" />
                                                <span class="placeholder" data-placeholder="Telefono"></span>
                                            </div>


                                            <div class="col-md-12 form-group p_star">
                                                <input type="text" class="form-control" [(ngModel)]="userM.email"
                                                    id="email" name="email" />
                                                <span class="placeholder" data-placeholder="Correo electronico"></span>
                                            </div>

                                            <div class="col-md-12 form-group p_star">
                                                <input type="password" class="form-control" [(ngModel)]="userM.pass"
                                                    id="pass" name="pass" />
                                                <span class="placeholder" data-placeholder="Contraseña"></span>
                                            </div>
                                            <div class="col-md-12 form-group p_star">
                                                <input type="password" class="form-control" id="r_pass" name="r_pass" />
                                                <span class="placeholder" data-placeholder="Repetir Contraseña"></span>
                                            </div>

                                            <div class="col-md-12 form-group">
                                                <div class="creat_account">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <input type="checkbox" id="f-option3" name="selector" />
                                                            <label for="f-option3" style="font-size: 10px;">Al hacer
                                                                clic en
                                                                Registrarte<br />, aceptas
                                                                los Términos y Condiciones
                                                                de Uso de Marvetos.Para obtener más información acerca
                                                                de
                                                                cómo
                                                                Spotify recopila,
                                                                utiliza, comparte y
                                                                protege tus datos personales, consulta la Política de
                                                                Privacidad
                                                                de
                                                                Marvetos.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="d-md-flex justify-content-center">
                                                    <button type="submit" style="align-items: center;" value="submit"
                                                        class="btn_3" (click)="saveNewUserEmpresa()">
                                                        REGISTRATE
                                                    </button>
                                                </div>

                                            </div>
                                            <div class="col-md-12">

                                                <div class="d-md-flex justify-content-center creat_account">
                                                    <input type="checkbox" id="f-option4" name="selector" />
                                                    <label for="f-option4">Recuerdame</label>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>