
<div class="alert alert-primary" style="background-color: #1a3742;" role="alert">
  <h3 style="text-align: center; font: oblique bold 120% cursive; color:#FFFFFF; font-size:30px;" *ngFor="let producto of products" >
    Detalle del Producto:  {{producto.name}}
  </h3>
</div>



<div class="product_image_area section_padding">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-5">
        <div class="product_slider_img">
          <div id="vertical" *ngFor="let producto of products">
            <div data-thumb="assets/img/product_details/prodect_details_1.png">
             
              <img src="{{producto.image}}" />

            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1" *ngFor="let producto of products">
        <div class="s_product_text">
          <h3>{{producto.name}}</h3>
          <h2>S/. {{producto.precio}}</h2>
          <ul class="list">
            <li>
              <a class="active" href="#">
                <span>Categoria</span> {{producto.idCategoria}}</a>
            </li>
            <li>
              <a href="/productos"> <span>Disponibilidad</span> : En Stock</a>
            </li>
          </ul>
          <li>
            <a class="active" >
              {{producto.descripcion}}</a>
          </li>
          <div class="card_area">
          
            <div class="social_icon">
              <a href="https://www.facebook.com/marvetos.pe" class="fb"><i class="ti-facebook"></i></a>
              <a href="https://www.instagram.com/marvetos.pe/?igshid=6v74tawhic9q" class="tw"><i class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/company/marvetos/" class="li"><i class="ti-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->



